@model IEnumerable<UitleenobjectDetailViewModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Uitleenobjecten</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td></td>
            <td>Naam</td>
            <td>Kostprijs</td>
            <td>Jaar</td>
            <td>Status</td>
            <td>Details</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Detail"
                       asp-route-id="@item.Id">@item.Id</a>
                </td>
                <td>@item.Type @item.Naam</td>
                <td>@Html.DisplayFor(m=>item.Kostprijs)</td>
                <td>@item.Jaar</td>
                <td>@item.Status</td>
                <td>@item.Details</td>
            </tr>
        }
    </tbody>
</table>